



  	<!-- jumbotron-->

  	<div class="jumbotron" id="jumbo">
  		<div class="container text-center">
  			<h1>Online Blood Bank</h1>
  			<p>Share a little, care a little – Donate Blood.</p>
            <form action="../Home/find" class="form-horizontal" method="post">
                <div class="form-group">
          <div class="col-md-4">
      			<select class="form-control" name="City">
                      <option>All</option>
              <option>Islamabad</option>
              <option>Multan</option>
              <option>Faisalabad</option>
              <option>Karachi</option>
            </select>
        </div>

        <div class="col-md-4">
            <select class="form-control" name="BloodGroup" required>
              <option>A+</option>
              <option>A-</option>
              <option>B+</option>
              <option>B-</option>
            </select>
        </div>

        <div align="left">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
          </div>
            </form>
  		</div><!-- End container -->
  	</div><!-- End jumbotron-->

    <div class="container">
  		<section>
  			<div class="page-header" >
  				<h1>About Us</h1>
  			</div>

  			<div class="row">
  				<div class="col-md-8">
  					<p>
                        In Pakistan, every year more than 10,000 people dies due to non availability of blood. It was necessary to make a platform so that every one who need the blood can get the blood in no time.DonateRED is here to serve you.
                          <br />We included more than 150 important cities of Pakistan, also from Azad Jammu and Kashmir.
                                There was a great process building the site user friendly and much more easier. If you encounter any problem regarding scripting, Database, dead links etc, you can email us at <a>info@donatered.com</a>. We would like to have comments and suggestion on our this effort.

  					</p>
                      <p>
                          DonateRED came into being in 2009 back with a desire of no one going through the pain of watching helplessly when their loved ones are suffering and do not get aid in time. Thus DonateRED was born with a mission to help those who would be in dire need of blood, since our inception thousands of people have came forward as potential donors and enrolled in our database from all over Pakistan, some of them even from the Middle East.
                          We are now focusing on our campaign to eradicate Thalassemia from Pakistan by the year 2017. Insha’Allah<br /><br /><br />
                      </p>

                      <p>
                          Regards,<br />
                          Team DonateRED.
                      </p>
  				</div>
  				<div class="col-md-4">
  					 <img src="~/Img/aboutpic.jpg" id="aboutPic" class="img-responsive img-rounded" />
  				</div>
  				
  			</div><!-- End row -->
  		</section>
  	</div><!--End Container-->







