@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

            <div class="row">
           
                <br />

            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/Home/Index">Home</a>
                    </li>
                    <li class="active">AboutUs</li>
                </ol>

                 <h2 class="page-header">About Us</h2>

            </div>


                </div>

    <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="../../slide1.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>About ECaterers</h2>
                <p><strong>Let you choose a Caterer your guests will Love</strong></p>
                <p>Whether you are hosting an offic lunch meeting or wedding of your dreams, we're here to help you find the best caterers and event planners in your town.</p>
                <p>If you are a Catering company owner and have no presence here then, we are here. Just submit your Catering Company here.</p>
            </div>
        </div>

    </div>